In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Data_for_UCI_named.csv')
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [3]:
print(df['stabf'])

0       unstable
1         stable
2       unstable
3       unstable
4       unstable
5         stable
6       unstable
7       unstable
8         stable
9       unstable
10        stable
11      unstable
12        stable
13      unstable
14      unstable
15      unstable
16      unstable
17        stable
18      unstable
19      unstable
20      unstable
21        stable
22        stable
23        stable
24      unstable
25        stable
26      unstable
27        stable
28        stable
29        stable
          ...
9970    unstable
9971      stable
9972    unstable
9973      stable
9974    unstable
9975    unstable
9976    unstable
9977    unstable
9978    unstable
9979    unstable
9980      stable
9981    unstable
9982    unstable
9983      stable
9984      stable
9985    unstable
9986    unstable
9987    unstable
9988    unstable
9989    unstable
9990    unstable
9991    unstable
9992    unstable
9993    unstable
9994    unstable
9995    unstable
9996      stable
9997      stable
9998    unstable
9999    unstable
Name: stabf, Length: 10000, dtype: object

In [4]:
df['stabf'].value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [5]:
df.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [6]:
df.drop(['stab'], 1, inplace = True)

In [7]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

In [8]:
df.shape

(10000, 13)

### we would like to reshuffle the target variable so that it will be well distributed.
### so we import the scikit-learn utils class, calling the shuffle function, and pass the data frame into the parenthesis.

In [9]:
import sklearn.utils
#df = sklearn.utils.shuffle(data_df)
#df = data_df.reset_index(drop=True)
#df.shape
#df.QScore.value_counts()

In [10]:
df = sklearn.utils.shuffle(df)
df = df.reset_index(drop=True)
#df.shape

In [11]:
df.shape

(10000, 13)

In [12]:
df.stabf.value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [13]:
df.head(10)

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,8.970052,6.083926,3.294579,1.262169,3.929118,-1.879775,-0.774384,-1.274958,0.086484,0.123997,0.587079,0.494024,stable
1,8.196407,8.062070,3.969140,2.770065,2.307235,-0.980846,-0.759482,-0.566906,0.656218,0.631997,0.339355,0.181889,unstable
2,1.386311,8.383548,5.581180,4.876729,3.395490,-1.109044,-0.748334,-1.538112,0.292498,0.898035,0.110692,0.315140,unstable
3,9.838843,2.988721,4.742429,3.364569,2.933229,-1.008739,-1.320095,-0.604395,0.878983,0.161202,0.350805,0.686409,unstable
4,8.558795,4.878774,8.454183,1.280603,3.513417,-1.223878,-0.653323,-1.636216,0.268705,0.753922,0.346804,0.997172,stable
5,5.761438,1.669077,8.625670,6.007779,3.859474,-0.848692,-1.678319,-1.332463,0.163829,0.408558,0.226445,0.136597,stable
6,6.967120,7.949966,5.173998,5.244758,2.482170,-0.522023,-0.929065,-1.031082,0.491059,0.381530,0.961276,0.482012,unstable
7,6.913046,2.015020,3.738946,0.725520,2.960418,-0.642648,-1.729515,-0.588255,0.232532,0.620180,0.862134,0.691592,stable
8,2.856752,4.718949,8.027336,1.568872,3.423679,-1.235163,-0.661587,-1.526929,0.175448,0.475910,0.981032,0.764949,unstable
9,2.393486,2.031662,2.398678,8.095782,4.616666,-1.762826,-1.674457,-1.179383,0.774175,0.177132,0.665163,0.079143,stable

In [14]:
df["stabf"] = df["stabf"].astype('category')
df.dtypes

tau1      float64
tau2      float64
tau3      float64
tau4      float64
p1        float64
p2        float64
p3        float64
p4        float64
g1        float64
g2        float64
g3        float64
g4        float64
stabf    category
dtype: object

In [15]:
df["stabf_cat"] = df["stabf"].cat.codes
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf,stabf_cat
0,8.970052,6.083926,3.294579,1.262169,3.929118,-1.879775,-0.774384,-1.274958,0.086484,0.123997,0.587079,0.494024,stable,0
1,8.196407,8.062070,3.969140,2.770065,2.307235,-0.980846,-0.759482,-0.566906,0.656218,0.631997,0.339355,0.181889,unstable,1
2,1.386311,8.383548,5.581180,4.876729,3.395490,-1.109044,-0.748334,-1.538112,0.292498,0.898035,0.110692,0.315140,unstable,1
3,9.838843,2.988721,4.742429,3.364569,2.933229,-1.008739,-1.320095,-0.604395,0.878983,0.161202,0.350805,0.686409,unstable,1
4,8.558795,4.878774,8.454183,1.280603,3.513417,-1.223878,-0.653323,-1.636216,0.268705,0.753922,0.346804,0.997172,stable,0

In [16]:
df.drop(['stabf'], 1, inplace = True)
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf_cat
0,8.970052,6.083926,3.294579,1.262169,3.929118,-1.879775,-0.774384,-1.274958,0.086484,0.123997,0.587079,0.494024,0
1,8.196407,8.062070,3.969140,2.770065,2.307235,-0.980846,-0.759482,-0.566906,0.656218,0.631997,0.339355,0.181889,1
2,1.386311,8.383548,5.581180,4.876729,3.395490,-1.109044,-0.748334,-1.538112,0.292498,0.898035,0.110692,0.315140,1
3,9.838843,2.988721,4.742429,3.364569,2.933229,-1.008739,-1.320095,-0.604395,0.878983,0.161202,0.350805,0.686409,1
4,8.558795,4.878774,8.454183,1.280603,3.513417,-1.223878,-0.653323,-1.636216,0.268705,0.753922,0.346804,0.997172,0

In [17]:
X = df.drop(columns='stabf_cat')
y = df['stabf_cat']

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
y_train.value_counts()

1    5084
0    2916
Name: stabf_cat, dtype: int64

In [31]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() 
X_train_scaled = scaler.fit_transform(X_train,y_train)
#X_train_scaled = pd.DataFrame(X_train_scaled, columns = X_train.columns)
X_test_scaled = scaler.transform(X_test)
#X_test_scaled = pd.DataFrame(X_test_scaled, columns = X_test.columns)
#print(scaler_test)
#df_scaled = pd.DataFrame(scaler.fit_transform(df),columns = df.columns)
#df_scaled.head(10)

In [34]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=1)
regressor.fit(X_train_scaled, y_train)
y_pred = regressor.predict(X_test_scaled)
y_pred

array([0.05, 0.  , 1.  , ..., 1.  , 0.7 , 1.  ])

In [36]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred, digits=4))

ValueError: Classification metrics can't handle a mix of binary and continuous targets

In [22]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.datasets import make_classification
#X, y = make_classification(n_features=4, random_state=0)
clf = ExtraTreesClassifier(n_estimators=100, random_state=0)
clf.fit(X, y)
ExtraTreesClassifier(random_state=0)
clf.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0], dtype=int8)

In [27]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf_cat
0,8.970052,6.083926,3.294579,1.262169,3.929118,-1.879775,-0.774384,-1.274958,0.086484,0.123997,0.587079,0.494024,0
1,8.196407,8.062070,3.969140,2.770065,2.307235,-0.980846,-0.759482,-0.566906,0.656218,0.631997,0.339355,0.181889,1
2,1.386311,8.383548,5.581180,4.876729,3.395490,-1.109044,-0.748334,-1.538112,0.292498,0.898035,0.110692,0.315140,1
3,9.838843,2.988721,4.742429,3.364569,2.933229,-1.008739,-1.320095,-0.604395,0.878983,0.161202,0.350805,0.686409,1
4,8.558795,4.878774,8.454183,1.280603,3.513417,-1.223878,-0.653323,-1.636216,0.268705,0.753922,0.346804,0.997172,0

In [26]:
#df_scaled['stabf_cat'].value_counts()

In [ ]:
#df_scaled["stabf_cat"] = df["stabf_cat"].astype('category')
#df_scaled.dtypes

In [ ]:
#df_scaled["stabf_cat"] = df_scaled["stabf_cat"].cat.codes
#df_scaled.head()

In [ ]:
#X = df_scaled.drop(columns='stabf_cat')
#y = df_scaled['stabf_cat']

In [25]:
#df_scaled.head()

In [44]:
## train test split

In [66]:
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
#y_train.value_counts()

In [24]:
#logistic regression
#from sklearn.linear_model import LogisticRegression
#log_reg = LogisticRegression().fit(X,y)
#print('train: {:.3f}'.format(log_reg.score(X_train,y_train)))
#print('test: {:.3f}'.format(log_reg.score(X_test,y_test)))